.popup__input {
  width: 358px;
  margin: 0;
  padding: 0 0 13px 0;
  border: none;
  border-bottom: 1px solid rgb(0 0 0 / 20%);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  -webkit-appearance: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  border-bottom: 1px solid rgb(0 0 0 / 20%);
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow:0 0 0 50px black inset;;
}
.popup__input:focus {
  outline: none;
}

.popup__input::placeholder {
  color: #C4C4C4;
}

.popup__input:not(:first-child) {
  margin-top: 30px;
}

@media screen and (max-width: 540px) {
  .popup__input {
    width: 238px;
    margin: 43px 0 0 22px;
  }
}